p {
  color: blue;
  text align: centre;
  font-family: sans-serif;
}
h2 {
  color: green;
  font-style: italic:
  text-align: centre:
}
ul {
  line-height: 40px;
}
ol {
  color: purple;
  background-color: black;
  font-size: 10px;
  font-family: monospace;
  line-height: 30px;
}
strong {
font-style: italic;
}
em {
  font-style: normal;
}
